:root {
    /* light */
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    /* dark */
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--Very-Dark-Blue);
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
}

.background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 30px;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}

.new-todo {
    background-color: var(--Very-Dark-Desaturated-Blue);
    height: 70px;
    margin-top: 50px;
    border-radius: 7px;
    display: flex;
}

.check {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--Very-Dark-Grayish-Blue);
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark:hover, .check-mark.checked{
    background: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.todo-text.checked {
    text-decoration: line-through;
    color: var(--Light-Grayish-Blue);
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input input {
    width: 100%;
    /* padding: 10px; */
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--Light-Grayish-Blue);
}

.new-todo-input input::placeholder {
    color: var(--Light-Dark-Grayish-Blue);
}

.todo-list-holder {
    margin-top: 30px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
}

.todo-item {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
    font-size: 18px;
    transition: all 0.25s ease;
    cursor: pointer;
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
}

.todo-text {
    display: flex;
    align-items: center;
}

.todo-list-info {
    height: 70px;
    width: 100%;
    color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.items-statuses {
    display: flex;
    justify-content: center;
}

.items-statuses span {
    padding: 0 4px;
    cursor: pointer;
}

.items-statuses span:hover, .items-statuses span.active, .items-clear:hover {
    color: hsl(220, 98%, 61%);
}

.items-clear {
    cursor: pointer;
    text-align: end;
}

.attribution {
    color: var(--Dark-Grayish-Blue);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    margin: 12px;
}